/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
  
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.hakdog {
  font-size: 50px;
  font-weight: bold;
}

.hakdog p.hello {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  color: maroon;
}

@keyframes moveInLeft {
  0% {
    opacity: 0%;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.hakdog p.quote {
  font-size: 25px;
  text-decoration: none;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes moveInRight {
  0% {
    opacity: 0%;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


footer {  
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
  background-position: center;
  background-size: cover;
  /*clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);*/
  overflow: hidden;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
    font-size: 18px;
  }
  .header a.logo {
    font-size: 15px;
    font-weight: bold;
  }
  .header-right {
    text-align: center;
    float: none;
  }

  .hakdog p.hello {
    font-size: 40px;
  }

}


.login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 360px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input:focus {
  background: #dbdbdb;
}

.form button:active {
  background: indianred;
}

.form span {
  font-size: 75px;
  color: maroon;
}