#navbar {
  background: white;
  color: #fff;
  position: fixed;
  top: 0;
  height: 150px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.logo {
  height: 150px;
  display: block;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
} 

.brgy{
  background: floralwhite;
  padding-top: 5px ;
  padding-bottom: 5px ;
}

.text-box{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-weight: 900;
}

.main-heading {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 40px;
  font-size: 60px;
  
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out; 
}

@keyframes moveInLeft {
  0% {
    opacity: 0%;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.main-paragraph {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 18px;
  
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes moveInRight {
  0% {
    opacity: 0%;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white {
    background-color: maroon;
    color: #fff;
}

.btn::after {
    content: "" ;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.btn-white::after {
    background-color: brown;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInButton .5s ease-out .75s;
    animation-fill-mode: backwards;
}


.footer {  
  background-color: #990000;
  background-image: linear-gradient(147deg, #990000 0%, #ff0000 74%);
  background-position: center;
  background-size: cover;
  /*clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);*/
  overflow: hidden;
}

