* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #F3E5F5;
}

/*--------NAVBAR-------*/

#navbar {
  background: #EFEBE9;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  font-style: Garamond;
} 

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/*RESPONSIVE NAVBAR*/

@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
}

/* Icon Bars */
.icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
} 

.icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
}

.icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
}
/* Bars Shadows */
.icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
} @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      }

.icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
} @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      }

.icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
} @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    } @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      }

/* Toggle Menu Icon */
.menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
}

.menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand');

body,
html {
    width: 100%;
    height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.container {
    margin-top: 30px;
    background-color: #caccd4;
    margin-bottom: 30px;
    
}

.page {
    margin-top: 10px;
    background-color: #f8f8f6;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px 5px gray;
}

h1{
    color: #d5a5a0;
}

h1>small {
    color: #323230;
}

h3{
    color: #323230;
}

.img-responsive {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 30px 0 10px 40px;
}

@media only screen and (min-height: 320px) and ( max-width: 768px) {
    .img-responsive {
        margin: 0 auto;
        margin-top: 20px;
    }
}

.text-center {
    padding: 30px 0 10px 40px;
}

@media only screen and (min-height: 320px) and ( max-width: 768px) {
    .text-center {
        padding-right: 40px;
    }
}

.vertical {
    border-right: 1px solid mediumpurple;
}

#intro {
    padding: 10px 20px 5px 50px;
}

#skills {
    padding: 10px 20px 5px 50px;

}

#skills>p{
    color: #323230;
}

@media only screen and (min-height: 320px) and ( max-width: 768px) {
    #skills {
        padding: 10px;
        padding-bottom: 30px;
    }
    #skills>h3 {
        padding-left: 36px;
        padding-bottom: 5px;
    }
}


}
.progress-radial,
.progress-radial * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.progress-radial {
    float: left;
    margin-right: 4%;
    position: relative;
    width: 20%;
    border-radius: 50%;
}
.progress-radial:first-child {
    margin-left: 4%;
}
.progress-radial .overlay {
    position: absolute;
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 50%;
    font-size: 14px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.progress-radial .overlay p {
    position: absolute;
    line-height: 40px;
    text-align: center;
    width: 100%;
    top: 50%;
    margin-top: -20px;
}
.progress-15 {
    background-image: -webkit-linear-gradient(0deg, aliceblue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(306deg, mediumpurple 50%, aliceblue 50%, aliceblue);
    background-image: linear-gradient(90deg, aliceblue 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg,  #d5a5a0 50%, aliceblue 50%, aliceblue);
}
.progress-80 {
    background-image: -webkit-linear-gradient(72deg, #38b16b 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, mediumpurple 50%, aliceblue 50%, aliceblue);
    background-image: linear-gradient(18deg,  #d5a5a0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg,  #d5a5a0 50%, aliceblue 50%, aliceblue);
}
.progress-65 {
    background-image: -webkit-linear-gradient(126deg, #d5a5a0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg, mediumpurple 50%, aliceblue 50%, aliceblue);
    background-image: linear-gradient(-36deg,  #d5a5a0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d5a5a0 50%, aliceblue 50%, aliceblue);
}
.progress-55 {
    background-image: -webkit-linear-gradient(162deg,  #d5a5a0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), -webkit-linear-gradient(180deg,  #d5a5a0 50%, aliceblue 50%, aliceblue);
    background-image: linear-gradient(-72deg,  #d5a5a0 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg,  #d5a5a0 50%, aliceblue 50%, aliceblue);
}
#dets {
    padding: 10px 20px 5px 85px;
    text-transform: uppercase;
  
}
@media only screen and (min-height: 320px) and ( max-width: 768px) {
    #dets {
        padding: 60px;
        padding-bottom: 20px;
    }
}

h4>small{
    text-transform: none;
      padding-left: 60px;
  font-weight: bold;
}


@media only screen and (min-height: 320px) and ( max-width: 768px) {
    h4>small {
       padding: 0;
    }
}

.text {
    font-size: 13px;
    font-style: oblique;
    padding-left: 5px;
}


#socials {
    padding-left: 80px;
    padding-top: 20px;
}


@media only screen and (min-height: 320px) and ( max-width: 768px) {
    #socials {
        padding: 0;
        margin: 15px;
    }
}

a {
    padding-left: 80px;
    font-weight: lighter;
    font-size: 20px;
    color: #323230
}
a:hover{
  text-decoration: none;
  color: #d5a5a0;
}

#edu {
    padding: 15px 20px 5px 50px;
    text-transform: uppercase;
}

#edu>small {
    text-transform: capitalize;
    font-style: italic;
   color: #d5a5a0;
}

#exp {
    padding: 10px 20px 5px 50px;
}

#exp>h5>small {
   color: #d5a5a0;
     font-weight: bold;
}

#ref {
     padding: 15px 20px 5px 50px;
    text-transform: uppercase; 
}

#ref>p{
    font-weight: lighter;
    text-transform: capitalize;
    font-style: italic;
}





