* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  }

section {
  position: relative;
  min-height: 100vh;
  background-color: #F3E5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.lead {
  text-align: justify;
}

.portfolio-image {
  max-width: 100%; 
  height: auto;
}

/*--------NAVBAR-------*/

#navbar {
  background: #EFEBE9;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  font-style: Garamond;
} 

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  /* margin-right: 14px; */
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
      display: none;
    }
  } @media(orientation: landscape) {
      #navbar ul {
        display: inline-block;
      }
    }

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: rgb(13, 26, 38);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(28, 121, 184);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: rgb(13, 26, 38);
  right: 0;
}

#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/*RESPONSIVE NAVBAR*/

@media(max-width: 640px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
}

/* Icon Bars */
.icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
} 

.icon-bars::before {
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
}

.icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
}
/* Bars Shadows */
.icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
} @keyframes middleBar {
      0% {width: 0px}
      50% {width: 20px}
      100% {width: 0px}
    } @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      }

.icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
} @keyframes topBar {
      0% {width: 0px}
      50% {width: 10px}
      100% {width: 0px}
    } @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      }

.icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
} @keyframes bottomBar {
      0% {width: 0px}
      50% {width: 15px}
      100% {width: 0px}
    } @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      }

/* Toggle Menu Icon */
.menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
}

.menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

.overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul, .overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

 header p {
  font-size: 30px;
  margin: 0;
  text-align: center;-tile
}

section {
  text-align: center;
  padding: 20px;
}

section h2 {
  margin: 0;
}

section p {
  margin-top: 0;
}
            .projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 10px auto 0;
}

.project-tile {
  margin: 10px;
  max-width: 240px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile img {
  max-width: 100%;
}

.project-tile p {
  font-size: 20px;
  margin-top: 10px; 
  color: #000;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.credit {
  position: fixed;
  top: 20px;
  right: 20px;
  font-family: Termina, sans-serif;
  font-weight: 800;
  font-size: 0.7rem;
}

.credit a {
  color: #1a292c;
  text-transform: lowercase;
}

.container:nth-child(2) {
  background: #3c564f;
}
.container:nth-child(1) {
  background: #b69187;
}
.container:nth-child(4) {
  background: #bcb8ad;
}
.container:nth-child(3) {
  background: #b6916d;
}

.brand {
  font-family: 'Dancing Script', cursive;
  font-size: 2.65em;
  font-weight: 700;
}

.whitespace {
  padding: 20px;
}

h1 {
    font-family: Titillium Web, sans-serif;
    font-weight: 500;
  font-size: 2.5em;
  }

h2 {
    font-family: Titillium Web, sans-serif;
    font-weight: 500;
    font-size: 1.99em;
  }

.jumbotron {
  margin-bottom: 0;
}

.jumbotron p {
  font-weight: 400;
  padding: 20px;
}

.blue-background {
  background-color: #1D2463;
  color: #fff;
}

.yellow-background {
  background-color: #F9DC5C;
  color: #000;
}

.purple-background {
  background-color: #950952;
  color: #fff;
}

.pink-background {
  background-color: #E84855;
  color: #000;
}

.blue {
  color: #1D2463;
  font-weight: 400;
}

.pink {
  color: #E84855;
  font-weight: 300 !important;
  font-style: italics;
  font-size: 1.65em !important;
}

.btn-primary {
  background-color: #950952;
  border: 2px solid #950952;
}

.white {
  color: #fff;
}

.special {
  margin-bottom: 35px;
}

.special-top {
  margin-top: 35px;
}

.padding {
  
}

.about .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.about .col-md-3 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.about .col-md-4 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.about h2 {
  font-weight: normal;
}
.about .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.portfolio-divider {
  margin: 40px 0; 
}

.portfolio-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.skills th {
    text-align: center;
    font-weight: 500;
  
    text-transform: uppercase;
}

.skills td {
    padding: 5px;
    text-align: center;
    font-weight: 400;
}